@page "/"
@using HandyCook.Application.Data;
@using HandyCook.Application.Services;
@using MudBlazor

@inject ApplicationDbContext ctx
@inject IUserService UserService
@inject ISnackbar Snackbar

<PageTitle>Recipe Gallery</PageTitle>

<MudGrid Justify="Justify.FlexStart">
    @if (Recipes is null)
    {
        @for (int i = 0; i < 6; i++) // Adjust the number of skeletons as needed
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <MudCard>
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="200px" Width="167px" />
                    <MudCardContent>
                        <div class="recipe-content">
                            <MudSkeleton Animation="Animation.Wave" Width="@($"{Random.Next(60, 90).ToString()}%")" />
                            <MudSkeleton Animation="Animation.Wave" Width="@($"{Random.Next(30, 90).ToString()}%")" />
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    }
    else
    {
        foreach (var recipe in Recipes)
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <MudCard>
                    <MudCardMedia Image="@GetImageSrc(recipe.Images.FirstOrDefault())" Height="200" />
                    <MudCardContent>
                        <div class="recipe-content">
                            <MudRating Color="Color.Warning" ReadOnly="UserId == recipe.UserNavigationId" SelectedValueChanged="@(value => RateRecipeAsync(recipe.Id, value))" SelectedValue="recipe.AverageRating" MaxValue="5" />
                            <MudText Typo="Typo.h6">@recipe.Name</MudText>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    }
</MudGrid>
